<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Details</title>
    <link href="/stylesheets/admin.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&display=swap" rel="stylesheet">
<!--    <script src="/javascripts/jquery.js" type="text/javascript"></script>-->
<!--    <script src="/javascripts/admin.js"></script>-->
  </head>
    <body>
    <div id="display">
      <div id="header">
        <form action="/filter-branch" method="post">
        <label for="branch">Branch:</label>
        <select id="branch" name="branch">
          <option value="All">All</option>
          <option value="Mylapore">Mylapore</option>
          <option value="T Nagar">T Nagar</option>
          <option value="Alwarpet">Alwarpet</option>
        </select>
        <button id="filter">Submit</button>
          </form>
      </div></div>

    <table>
        <tr><td><h1>No Employees Registered.</h1></td></tr>
    </table>
    </body>
</html>